body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    font-size: 14px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1 1 200px;
    margin: 10px 0;
}

.footer-logo {
    max-width: 150px;
}

.footer-social a {
    margin: 10px;
    display: inline-block;
}

.footer-section h4 {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-apps img {
    height: auto;
    max-width: 150px;
}

.footer-apps a {
    display: inline-block;
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.footer-section_payment, .footer-section_certifications {
    display: inline-block;
}

.payment-methods img {
    height: 50px;
    max-width: 100px;
    margin: 5px;
}

.certifications-logos img {
    max-width: 150px;
    margin-right: 50px;
}

.payment, .certifications {
    flex-basis: 100%;
}

.sobre {
    border-top: 1px solid #555;
}

.sobre h4 {
    font-size: 30px;
}

.sobre p {
    font-size: 18px;
}

.direitos {
    border-top: 1px solid #555;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#prgf1 {
    margin-right: 50px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        flex-basis: 100%;
        text-align: center;
    }

    .footer-social, .footer-apps, .payment-methods, .certifications-logos {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .footer-apps a, .payment-methods img, .certifications-logos img {
        margin: 5px;
    }

    .footer-section_payment h4, .footer-section_certifications h4 {
        text-align: center;
    }

    .direitos {
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    #prgf1 {
        margin: 10px 0;
    }
}
